[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/ddollar/nerdcommenter
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
        url = https://github.com/junegunn/rainbow_parentheses.vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/anyakichi/vim-surround
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/vim-minizinc"]
	path = bundle/vim-minizinc
	url = https://github.com/vale1410/vim-minizinc
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = https://github.com/JuliaLang/julia-vim
